<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TodaysTips.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <input type="checkbox" id="btn" hidden>
        <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        </label>
        <nav id="sidebar">
           <div class="title">Live Time</div>
           <ul class="list-items">
              <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
              <li><a href="WeatherNews.html"><i class="fas fa-cloud-sun-rain"></i>Weather news</a></li>
              <li><a href="#"><i class="fas fa-search-location"></i>Find my location</a></li>
              <li><a href="TodaysTips.html"><i class="fas fa-calendar-week"></i>Todays Tips</a></li>
              <li><a href="#"><i class="fas fa-user"></i>About us</a></li>
              <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
              <li><a href="#"><i class="fas fa-sign-in-alt"></i>log in</a></li>
              <li><a href="#"><i class="fas fa-sign-out-alt"></i>log out</a></li>
              <div class="icons">
                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>
                 <a href="#"><i class="fab fa-github"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
           </ul>
        </nav>
     </div>


    
<div class="container">
	<div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
				<p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
				<a href="" class="card__button">Read more</a>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
				<p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
				<a href="" class="card__button">Read more</a>
			</figcaption>
		</figure>
	</div>

	

    <script src="TodaysTips.js"></script>
</body>
</html>